html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

.todo {
    font-size: 30px;
}

h1 {
    font-size: 40px;
}

html {
    background-color: #f9f9f9;
}

body {
    font-family: 'Newsreader', 'sans-serif';
    display: flex;
    flex-direction: column;
}

footer p {
    text-align: center;
}

#principal-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: "Bungee Spice", sans-serif;
}

#principal-container input[type=button] {
    background-color: #4F46E5;
}


#todos-container ul {
    display: flex;
    flex-direction: column;
    border: 3px solid lightgreen;
    list-style: none;
}

#todos-container button {
    border: none;
    color: #4F46E5;
    background: none;
    font-size: 25px;
}

#todos-container button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





/* Smartphone Screen */
@media screen and (max-width: 500px) {
    .todo {
        font-size: 20px;
    }

    /* #principal-container {
        display: flex;
        text-align: center;
        flex-direction: column;
    } */

    #todos-container {
        display: flex;
        border: 3px solid lightblue;
    }

    #todos-container ul{
        display: flex;
        flex-direction: column;
        border: 3px solid lightgreen;
        list-style: none;
    }

    #todos-container button {
        border: none;
        color: red;
        background: none;
        font-size: 18px;
    }

    #todos-container button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    #principal-container input[type=button] {
        border-radius: 8px;
    }

}


/* Tablet Screen */

