.todo {
    font-size: 30px;
}

html {
    background-color: #f8f9f9;
}

#todos-container button {
    border: none;
    color: red;
    background: none;
    font-size: 25px;
}

#todos-container button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Smartphone Screen */
@media screen and (max-width: 500px) {
    .todo {
        font-size: 20px;
    }

    #principal-container {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    #todos-container {
        display: flex;
        border: 3px solid lightblue;
    }

    #todos-container ul{
        display: flex;
        flex-direction: column;
        border: 3px solid lightgreen;
        list-style: none;

    }
}


/* Tablet Screen */

