html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

.todo {
    font-size: 30px;
}

h1 {
    font-size: 40px;
}

html {
    background-color: #f9f9f9;
}

body {
    font-family: 'Newsreader', 'sans-serif';
    display: flex;
    flex-direction: column;
}

footer p , footer a{
    text-align: center;
    text-decoration: none;
}

#principal-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: "Bungee Spice", sans-serif;
}

#principal-container input[type=button] {
    background-color: #d08120;
}


#todos-container ul {
    display: flex;
    flex-direction: column;
    /* border: 3px solid lightgreen; */
    list-style: none;
    padding-left: 10px;
}

#todos-container button {
    border: none;
    color: #ee8300;
    background: none;
    font-size: 25px;
}

#todos-container button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#principal-container input[type=text] {
    border-radius: 5px;
    border: 2px solid lightgray;
    height: 40px;
    font-family: 'Newsreader', 'sans-serif';
    font-size: 30px;
    width: 60vw;

}


#principal-container input[type=button] {
    font-family: 'Bungee Spice', 'Newsreader', 'Sans-serif';
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: center;
}

#subPrincipal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#subPrincipal-container input[type=button] {
    height: 70px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 5px;
}


/* Smartphone Screen */
@media screen and (max-width: 500px) {
    .todo {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    #principal-container {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    #todos-container {
        display: flex;
        /* border: 3px solid lightblue; */
    }

    #todos-container ul{
        display: flex;
        flex-direction: column;
        /* border: 3px solid lightgreen; */
        list-style: none;
    }

    #todos-container button {
        border: none;
        color: red;
        background: none;
        font-size: 18px;
    }

    #todos-container button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    #principal-container input[type=text] {
        border-radius: 5px;
        border: 2px solid lightgray;
        height: 30px;
        font-size: 15px;
        width: 60vw;
    }

    #principal-container input[type=button]{
        /* width: auto; */
        font-family: 'Bungee Spice', 'Newsreader', 'Sans-serif';
        /* height: 40px; */
        /* font-size: 40px; */
        padding: 0;
        background-color: transparent;
        border: none;
        text-align: center;
        width: auto;
    }

    #subPrincipal-container input[type=button] {
        height: 60px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 5px;
    }


}


/* Tablet Screen */

