html {
    scroll-behavior: smooth; /* adds transition when scrolling */
    scroll-padding-top: 8vh; /* makes it so that the navbar doesnt overlap whenever it is clicked to go to a certain section */

}


nav {
    display: flex;
    /* border: 5px solid black; */
    height: 8vh;
    background-color: #EDF2F7;
    position: fixed;
    z-index: 100;  /* I put it here to ensure navbar does not appear behind video when scrolling down. Source: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
    top: 0;
    width: 100%;
} 




 nav a, a:visited {
    display: flex;
    color: black;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Bungee Spice", "Workbench", "sans-serif";
    font-size: 2rem;
    border-right: 2px solid black;
}


nav a:hover {
    background-color: #2B6CB0;
}

#welcome {
    height: 100vh;
}

#about {
    height: calc(100vh - 8vh);
}

#portfolio {
    height: 100vh;
}

#contact {
    height: 100vh;
}

main, footer{
    /* margin-top: 100px; */
    background-color: #F7FAFC;
    width: 100vw;
}


h1, h2 {
    color: #1A202C;
    /* border: 9px solid black; */
    /* margin-top: 0%;
    margin-bottom: 0%; */
    font-family: "Honk", "Workbench", sans-serif;
    font-size: 7em;

}

h2 {
    color: #4A5568;
}

h3 {
    font-family: "Bungee Spice", "Workbench", "sans-serif";
    /* text-decoration: underline; */
    font-size: 1.5em;
}

p {
    color: #2D3748;
    font-family: "Newsreader", serif;
    font-size: 2em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}


.welcome-container {
    display: flex;
    justify-content: center;

}

.welcome-container a {
    font-size: 2em;
    display: flex;
    /* flex-direction: row; */
    /* text-decoration: none; */
    color: #2D3748;
    font-family: "Newsreader", serif;
    font-size: 2em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 2em;

}


.about-container {
    display: flex;
    justify-content: center;
}

.about-container li { 
    text-decoration: none;
    margin-top: 2vh;
    display: inline-block;
    margin: 2em;
    font-size: 2em;
}

/* Tried this to have logos before urls for social media but it didnt work */
/* .about-container ul:nth-of-type(1)::before {
    content: "";
    background-image: url("figures/linkedin.png");

} */






.portfolio-container {
    /* border: 5px solid black; */
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-basis: auto; */
    text-align: center;
    height: 80%;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    /* flex-basis: 10em; */

}

.portfolio-container p {
    color: #2D3748;
    font-family: "Newsreader", serif;
    font-size: 1em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.portfolio-container div {
    border: 3px solid black;
    width: calc(100vw / 3);
}

.portfolio-container:nth-child(4) {
    width: 100vw;
}

video {
    position: relative;
    left: 0;
    top: 0;
    height: 70%;
    width: 90%;
}

.portfolio-container img {
    height: 70%;
    width: 90%;    
}

figure img{
    height: calc(100vh - 30vh);
    object-fit: cover;
}

.contact-container {
    display: flex;
    font-size: 50px;
    flex-direction: column;
    justify-content: center;
    /* flex-grow: 10; */
    /* align-items: center; */
    /* word-wrap: break-word; */

}

#name, #email {
    height: 50px;
    width: 97vw;
    font-size: 0.5em;
    border-radius: 0.5em;
}

#message {
    height: 200px;
    width: 97vw;
    border-radius: 1em;
    font-size: 0.5em;
}



.contact-container #submit1 {
    width: 80vw;
    height: 10vh;
    font-size: xx-large;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin-right: 5em;
    margin-left: 5em;

    font-family: "Newsreader", serif;
    /* font-size: 2em; */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;

}



/* I've tried multiple times to fix responsiveness */

@media screen and (max-width: 700px) {

    nav {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    nav a, nav a:visited {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: none;
        border-bottom: 2px solid lightgray;
        /* border-right: 2px solid lightgray; */
    }

    h1, h2{
        border: 3px solid black;
        margin-top: 110px;
        margin-bottom: 0px;
    }


    .welcome-container, .about-container{
        flex-direction: column;
        font-size: small;
        margin-top: 0;
    }

    .welcome-container p, .about-container p {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }


    .welcome-container img, .about-container img {
        height: 400px;
    }

    .about-container li { 
        text-decoration: none;
        margin-top: 2vh;
        display: inline;
        /* margin: 2em;
        font-size: 2em; */
    }


    
}
